<section>
  <h2>Summary</h2>
  <p>Front End Web Developer with 3 years of experience in designing and developing user-friendly web applications using
    Angular, HTML, CSS, and JavaScript. Proficient in frontend development, testing, and debugging. Adept at client
    interactions and experienced in Agile methodology. Eager to leverage my expertise and creativity to contribute to
    the success of a dynamic and innovative company.</p>
    <div class="navigation-buttons mt-4">
      <button (click)="navigateTo('/experience')" class="btn btn-primary m-2 spacing">Experience</button>
      <button (click)="navigateTo('/skills')" class="btn btn-primary m-2 spacing">Skills</button>
      <button (click)="navigateTo('/education')" class="btn btn-primary m-spacing spacing">Education</button>
      <button (click)="navigateTo('/certifications')" class="btn btn-primary m-2 spacing">Certifications</button>
      <button (click)="navigateTo('/projects')" class="btn btn-primary m-2 spacing">Projects</button>
    </div>
</section>